/*highlight links with empty href attribute*/
a[href = ""] {
  background: red;
  color: white;
  font-size: x-large;
}
/*highlight absolute urls*/
a[href ^= http] {
  display: inline-block;
  color: red;
  transform: rotate(180deg);
}
/*highlight images with no alt tag*/
img[alt = ""] {
  border:1px red dotted;
}